* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
}

@font-face {
  font-family: "SUITE";
  src: url("./assets/fonts/SUITE-Variable.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "SUITE" !important;
}
